{{#isPathParam}}@retrofit2.http.Path("{{baseName}}") {{paramName}} : {{{dataType}}}{{^required}}? = {{#defaultValue}}{{{.}}}{{/defaultValue}}{{^defaultValue}}null{{/defaultValue}}{{/required}}{{/isPathParam}}