
{{#isQueryParam}}@retrofit2.http.Query("{{baseName}}") {{#collectionFormat}}{{#isCollectionFormatMulti}}{{{dataType}}}{{/isCollectionFormatMulti}}{{^isCollectionFormatMulti}}{{{collectionFormat.toUpperCase}}}Params{{/isCollectionFormatMulti}}{{/collectionFormat}}{{paramName}} : {{^collectionFormat}}{{{dataType}}}{{^required}}{{#defaultValue}}{{/defaultValue}}{{/required}}{{/collectionFormat}}{{/isQueryParam}}