
{{#isQueryParam}}@retrofit2.http.Query("{{baseName}}") {{paramName}} : {{^collectionFormat}}{{{dataType}}}{{^required}}{{#defaultValue}}{{/defaultValue}}{{/required}}{{/collectionFormat}}{{#collectionFormat}}{{#isCollectionFormatMulti}}{{{dataType}}}{{/isCollectionFormatMulti}}{{^isCollectionFormatMulti}}{{{collectionFormat.toUpperCase}}}Params{{/isCollectionFormatMulti}}{{/collectionFormat}}{{/isQueryParam}}